{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
{% endblock %}

{% block title %}
	Afficher exercices
{% endblock %}

{% block header %}
    {{ include('partials/header.html.twig') }}
{% endblock %}

{% block body %}
<h1>Exercices</h1>
<div class="">
    <ul class="exercices list-group list-group-flush">
        {% for exercice in exerciceList %}
            <li class="list-group-item">
                <div class="row">
                    <div>
                        <h4>{{ exercice.name }}</h4>
                    </div>
                    <div class="col-sm-5">
                        <p style="text-overflow:ellipsis" >{{ exercice.description }}</p>
                    </div>
                    <div class="ml-auto">
                        <div class=" btn-group">
                            <a href="{{ path('afficher_exercice', {id: exercice.id}) }}"><button type="button" class="btn btn-info" >Voir</button></a>
                            <a href="{{ path('supprimer_exercice', {id: exercice.id}) }}"><button type="button" class="btn btn-secondary btn-danger" ><span aria-hidden="true">&times;</span></button></a>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
